{% extends "base.j2" %}
{% block body %}
<div class="container-sm m-3">
    {{doc}}
</div>
{% endblock %}
{% block main_attr %}d-flex flex-column justify-content-center align-items-center{% endblock %}