{% extends "base.j2" %}
{% block body %}
<div class="d-block d-md-none bg-dark text-white p-2 text-center">
    <h1>鉄道をみなさまの足に。</h1>
    <p>でき鯖高速鉄道グループ</p>
    <a class="btn btn-primary" href="/about.html">会社概要</a>
</div>
<div class="flex-grow-1 flex-shrink-1">
    <div id="carouselToppageIndicators" class="carousel slide carousel-dark h-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active h-100" style="background-image:url(/assets/image/toppage/carousel1.png);background-size: cover;background-repeat: no-repeat;background-position:center;"></div>
            <div class="carousel-item h-100" style="background-image:url(/assets/image/toppage/carousel2.png);background-size: cover;background-repeat: no-repeat;background-position:center;"></div>
            <div class="carousel-item h-100" style="background-image:url(/assets/image/toppage/carousel3.png);background-size: cover;background-repeat: no-repeat;background-position:center;"></div>
            <div class="carousel-item h-100" style="background-image:url(/assets/image/toppage/carousel4.png);background-size: cover;background-repeat: no-repeat;background-position:center;"></div>
            <div class="carousel-caption d-none d-md-block text-dark">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div style="background-color:#fff7;border-radius:32px;" class="p-3">
                        <h1>鉄道をみなさまの足に。</h1>
                        <p>でき鯖高速鉄道グループ</p>
                        <a class="btn btn-outline-success" href="/about.html">会社概要</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselToppageIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<script>
    var Carousel = document.querySelector('#carouselToppageIndicators')
    var carousel = new bootstrap.Carousel(Carousel, {
    interval: 5000,
    wrap: true
    })
</script>
{% endblock %}
{% block main_attr %}flex-grow-1 flex-shrink-1 d-flex flex-column{% endblock %}